
body{
    background: linear-gradient(45deg, #1f5662, #06996d, #505f75);
}


.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 950px;
    padding: 20px;
}

.form-container h2 {
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    border: 2px solid #ddd;
}

.input-group input[type="password"]:focus {
    outline: none;
    border-color: #555;
}

button[type="submit"] {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
   // max-width: 400px;
}